* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
.nav-heading {
  padding: 0.5em 1.5em;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  max-width: 40em;
  width: 100%;
  margin: auto;
}
label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
textarea{
  display: block;
  width: 100%;
  margin-bottom: 3em;
  resize: none;
  font-size: 1em;
  padding: 0.5em;
}
.btn {
  width: 100%;
  padding: 0.7em;
  font-size: 1.2em;
  border: none;
  margin-top: 0.5em;
  background-color: rgb(144, 12, 170);
  color: white;
  cursor: pointer;
}